#TrackPlayer{
    position: fixed;
    width: 100vw;
    background: hotpink;
    height: 5em;
    bottom: 0em;
    left: 0em;
}

#trackInfo{
    position: absolute;
    top: 0;
    left: 6em;
}

#time{
    position: absolute;
    bottom: 0.5em;
    left: 6em;
    width: 90%;
    margin: auto;
}

#volume{
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}

@media (max-width: 415px) {
    #time{
        width: 70%;
    }
}